<div class="filter" filter-target="sort_by">
    <div class="filter-line">
        <div class="filter_name"><%= t("bartering") %></div>
        <div class="filter_options">
            <%= form.radio_button :sort_by, :value, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_gold_value" do %>
                <%= image_tag currency_gold_img %>
            <% end %>

            <%= form.radio_button :sort_by, :merchant_xp, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_merchant_xp" do %>
                <%= image_tag merchant_xp_img %>
            <% end %>

        </div>
    </div>
    <div class="filter-line">
        <div class="filter_name"><%= t("questing") %></div>
        <div class="filter_options">
            <%= form.radio_button :sort_by, :hp, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_hp" do %>
                <%= image_tag hp_img %>
            <% end %>

            <%= form.radio_button :sort_by, :atk, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_atk" do %>
                <%= image_tag atk_img %>
            <% end %>

            <%= form.radio_button :sort_by, :def, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_def" do %>
                <%= image_tag def_img %>
            <% end %>

            <%= form.radio_button :sort_by, :eva, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_eva" do %>
                <%= image_tag eva_img %>
            <% end %>

            <%= form.radio_button :sort_by, :crit, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_crit" do %>
                <%= image_tag crit_img %>
            <% end %>
        </div>
    </div>
    <div class="filter-line">
        <div class="filter_name"><%= t("crafting") %></div>
        <div class="filter_options">
            <%= form.radio_button :sort_by, :craft_time, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_craft_time" do %>
                <%= image_tag craft_time_img %>
            <% end %>

            <%= form.radio_button :sort_by, :worker_xp, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_worker_xp" do %>
                <%= image_tag worker_xp_img %>
            <% end %>
        </div>
    </div>
    <div class="filter-line">
        <div class="filter_name"><%= t("navigation.events") %></div>
        <div class="filter_options">
            <%= form.radio_button :sort_by, :favor, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_favor" do %>
                <%= image_tag favor_img %>
            <% end %>

            <%= form.radio_button :sort_by, :airship_power, onchange: "this.form.requestSubmit();"%>
            <%= form.label "sort_by_airship_power" do %>
                <%= image_tag airship_power_img %>
            <% end %>
        </div>
    </div>
</div>