<div id="<%= dom_id blueprint %>" class="blueprint_card">
  <div class="image_tags">
    <div class="item_tag">
      <div class="tier_tag">
        <%= image_tag blueprint.img_tier %>
      </div>
    </div>
    <div class="blueprint_tag">
      <div class="blueprint_background">
        <%= image_tag blueprint.unlock_type.img_bg %>
      </div>
      <div class="blueprint_img">
        <%= image_tag blueprint.img, alt: blueprint.name %>
      </div>
    </div>
    <div class="crafting_tag">
        <% blueprint.blueprint_workers.each do |w| %>
          <%= image_tag w.worker.img, alt: w.worker.profession %>
          <%= w.level %>
        <% end %>
    </div>

  </div>
  <div class="blueprint_name">
    <%= blueprint.name %>
  </div>
  <div class="crafting_material">

  </div>
  <p>
    <%= "T#{blueprint.tier} #{blueprint.type.name}" %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= blueprint.value %>
  </p>


</div>
