<div id="<%= dom_id blueprint %>" class="blueprint">
  <%= image_tag blueprint.img, alt: blueprint.name %>
  <p>
    <strong>Name en:</strong>
    <%= blueprint.name_en %>
  </p>

  <p>
    <strong>Name zh:</strong>
    <%= blueprint.name_zh %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= blueprint.type_id %>
  </p>

  <p>
    <strong>Blueprint:</strong>
    <%= blueprint.blueprint_id %>
  </p>

  <p>
    <strong>Tier:</strong>
    <%= blueprint.tier %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= blueprint.value %>
  </p>

  <p>
    <strong>Craft time:</strong>
    <%= blueprint.craft_time %>
  </p>

  <p>
    <strong>Merchant xp:</strong>
    <%= blueprint.merchant_xp %>
  </p>

</div>
