<div id="<%= dom_id blueprint %>" class="blueprint_card">
  <div class="image_tags">
    <div class="item_tag">
      <div class="tier_tag">
        <%= image_tag blueprint.img_tier %>
      </div>
    </div>
    <div class="blueprint_tag">
      <div class="blueprint_background">
        <%= image_tag blueprint.unlock_type.img_bg %>
      </div>
      <div class="blueprint_img">
        <%= image_tag blueprint.img, alt: blueprint.name %>
      </div>
    </div>
    <div class="crafting_tag">
        <% blueprint.blueprint_workers.each do |w| %>
          <%= image_tag w.worker.img, alt: w.worker.profession %>
          <%= w.level %>
        <% end %>
    </div>

  </div>
  <div class="blueprint_name">
    <%= image_tag  blueprint_name_bg_img %>
    <h3><%= blueprint.name %></h2>
  </div>
  <div class="crafting_materials">
    <% blueprint.materials.each do |m| %>
      <div class="material">
        <%= image_tag m.materialable.img %>
        <%= m.amount %>
      </div>
    <% end %>
  </div>
  <div class="item_info">
    <div class="attribute">
      <%= image_tag currency_gold_img %>
      <%= number_to_delimited(blueprint.value) %>
    </div>
  </div>
</div>
