<div id="<%= dom_id blueprint %>" class="blueprint_card">
  <div class="image_tags">
    <div class="item_tag">
      <div class="tier_tag icon">
        <div class="icon_bg">
          <%= image_tag tier_bg_img %>
        </div>
        <div class="icon_img">
          <%= image_tag blueprint.img_tier %>
        </div>
      </div>
    </div>
    <div class="blueprint_tag">
      <div class="blueprint_background">
        <%= image_tag blueprint.unlock_type.img_bg %>
      </div>
      <div class="blueprint_img">
        <%= image_tag blueprint.img, alt: blueprint.name %>
      </div>
    </div>
    <div class="crafting_tag">
        <% blueprint.blueprint_workers.each do |w| %>
          <div class="icon">
            <div class="icon_bg">
              <%= image_tag worker_bg_img %>
            </div>
            <div class="icon_img">
              <%= image_tag w.worker.img, alt: w.worker.profession %>
            </div>
            <div class="icon_note">
              <%= w.level %>
            </div>
          </div>
        <% end %>
    </div>

  </div>
  <div class="blueprint_name">
    <%= image_tag  blueprint_name_bg_img %>
    <h3><%= blueprint.name %></h2>
  </div>
  <div class="crafting_materials">
    <% blueprint.materials.each do |m| %>
      <div class="material">
        <% quality = m.quality ? m.quality.quality_id : "" %>
        <%= image_tag m.materialable.img, class: quality %>
        <%= m.amount %>
      </div>
    <% end %>
  </div>
  <div class="item_info">
    <div class="attribute">
      <%= image_tag merchant_xp_img %>
      <%= number_to_delimited(blueprint.merchant_xp) %>
    </div>
    <div class="attribute">
      <%= image_tag worker_xp_img %>
      <%= number_to_delimited(blueprint.worker_xp) %>
    </div>
    <div class="attribute">
      <%= image_tag currency_gold_img %>
      <%= number_to_delimited(blueprint.value) %>
    </div>
    <div class="attribute">
      <% attr = params['sort_by'] %>
      <% attr = 'craft_time' if !attr || attr.in?(['value', 'merchant_xp', 'worker_xp']) %>
      <% attr_img = "#{attr}_img" %>
      <% if respond_to?(attr_img) %>
        <%= image_tag send(attr_img) %>
        <% if attr == 'craft_time' %>
          <%= blueprint.craft_time_formatted %>
        <% else %>
          <%= number_to_delimited(blueprint.send(attr)) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
