<div id="blueprint_filters">
    <%= form_with url: filter_update_path, method: :put do |form| %>
        <nav id="filter-side-bar">
            <ul>
                <li filter-target="tier"> <%= t("tier") %></li>
                <li filter-target="category" class="active"><%= t("category") %></li>
                <li filter-target="resource"><%= t("resource") %></li>
                <li filter-target="components"><%= t("components") %></li>
                <li filter-target="sort_by"><%= t("sort_by") %></li>
            </ul>
        </nav>
    <% end %>
</div>