<div id="blueprint_filters">
    <%= form_with url: filter_update_path, method: :put do |form| %>
        <nav id="filter-side-bar">
            <ul>
                <li filter-target="tier"> <%= t("tier") %></li>
                <li filter-target="category" class="active"><%= t("category") %></li>
                <li filter-target="resource"><%= t("resource") %></li>
                <li filter-target="components"><%= t("components") %></li>
                <li filter-target="sort_by"><%= t("sort_by") %></li>
            </ul>
        </nav>

        <div class="filter-container">
            <div class="filter active" filter-target="category">
                <% @categories.each do |cat| %>
                    <div class="filter-line">
                        <div class="filter_name"><%= cat.name %></div>
                        <div class="filter_options">
                            <% cat.types.each do |type| %>
                                <%= form.check_box :type, {
                                    id: "type_#{type.type_id}",
                                    value: type.type_id,
                                    multiple: true,
                                    onchange: "this.form.requestSubmit();",
                                    checked: true
                                }, type.type_id, nil %>
                                <%= form.label "type_#{type.type_id}" do %>
                                    <%= image_tag type.img, alt: type.type_id %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>