<p style="color: green"><%= notice %></p>

<h1><%= t('navigation.blueprints') %></h1>

<%= render 'blueprints/filter/filter_container' %>

<div id="blueprints_list">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  
  <div id="blueprints">
    <% @blueprints.each do |blueprint| %>
      <%= link_to(blueprint) do %>
          <%= render blueprint %>
      <% end %>
    <% end %>
  </div>

  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

</div>
